{% extends 'global/base.html' %}
{% load static %}

{% block 'title' %}
Home
{% endblock 'title' %}
{% block 'content' %}
<section>
    <div class="container">
        <header class="header-title">
            <h1>NOVAS TAREFAS PUBLICADAS</h1>
        </header>
    
    <div class="tasks">
        <table class="public-tasks">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Titulo da tarefa</th>
                    <th>Data e hora</th>
                </tr>
            </thead>
            <tbody>

                {% for task in tasks %}
                <tr>
                    <td>{{ task.user.username}}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>
{% endblock 'content' %}