{% extends 'global/base.html' %}
{% load static %}
{% block 'title' %}
Dashboard
{% endblock 'title' %}
{% block 'content' %}
<section>
    <div class="container">
        <header class="header-title-dashboard">
            <h1>USUARIO: {{ request.user.first_name }}</h1>
            <h2><a href="{% url 'platform_users:register_task_view' %}">Adicionar Tarefa</a></h2>
        </header>
    
        <div class="tasks">
            <table class="public-tasks">
                <thead>
                    <tr>
                        <th>Titulo da tarefa</th>
                        <th>Data e hora criada</th>
                        <th>Data e hora atualizada</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.created_at }}</td>
                        <td>{{ task.updated_at }}</td>
                        <td>
                            <div class="perfil-user update-task">
                                <a href="{% url 'platform_users:update_view' task.id %}">Editar</a>
                            </div>
                        </td>
                        <td>
                            <div class="perfil-user delete-task">
                                <a href="{% url 'platform_users:delete_view' task.id %}">Apagar</a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="content-options">
            <div class="pagination">
                {% if tasks.paginator.num_pages > 1 %}
                    {% if tasks.has_previous %}
                        <a href="{% url 'platform_users:dashboard_view' %}?limit={{ tasks.paginator.per_page }}&page={{ tasks.previous_page_number }}">{{ tasks.previous_page_number }}</a>
                    {% endif %}

                    <span>{{ tasks.number }}</span>

                    {% if tasks.has_next %}
                        <a href="{% url 'platform_users:dashboard_view' %}?limit={{ tasks.paginator.per_page }}&page={{ tasks.next_page_number }}"> {{tasks.next_page_number }}</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="limit">
                <p>LIMITE POR PAGINA:</p>
                {% for quantity in quantity_per_page %}
                    {% if quantity == limit %}
                        <span>{{quantity}}</span>
                    {% else %}
                        <a href="{% url 'platform_users:dashboard_view' %}?limit={{quantity}}">{{ quantity }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% endblock 'content' %}
