<header>
    <div class="container">
        <nav>
            <ul class="content-ul">
                <div class="division">
                    <li class="li-item"><a href="#">TASKS</a>
                    </li>
                    <li class="li-item"><a href="#">TASKS</a></li>
                </div>
                <div class="division">
                    <li class="li-item"><a href="#">Logar</a></li>
                    <li class="li-item"><a href="#">Cadastrar</a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>