{% extends 'global/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
{% block 'content' %}
<section>
    <div class="container">
        <header class="header-title-dashboard">
            <h1>USUARIO: Raimundo</h1>
            <h2><a href="#">Adicionar Tarefa</a></h2>
        </header>
    
    <div class="tasks">
        <table class="public-tasks">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Titulo da tarefa</th>
                    <th>Data e hora</th>
                    <th>Editar</th>
                    <th>Deletar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RAIMUNDO</td>
                    <td>FAZER CHURROS</td>
                    <td>22-10-2022 19:00:20</td>
                    <td>
                        <div class="perfil-user update-task">
                            <a href="#">Editar</a>
                        </div>
                    </td>
                    <td>
                        <div class="perfil-user delete-task">
                            <a href="#">Apagar</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>RAIMUNDO</td>
                    <td>FAZER CHURROS</td>
                    <td>22-10-2022 19:00:20</td>
                    <td>
                        <div class="perfil-user update-task">
                            <a href="#">Editar</a>
                        </div>
                    </td>
                    <td>
                        <div class="perfil-user delete-task">
                            <a href="#">Apagar</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>RAIMUNDO</td>
                    <td>FAZER CHURROS</td>
                    <td>22-10-2022 19:00:20</td>
                    <td>
                        <div class="perfil-user update-task">
                            <a href="#">Editar</a>
                        </div>
                    </td>
                    <td>
                        <div class="perfil-user delete-task">
                            <a href="#">Apagar</a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
</section>
{% endblock 'content' %}
