{% extends 'global/base.html' %}
{% load static %}
{% block 'content' %}
<section>
    <div class="container">
        <header class="header-title">
            <h1>NOVAS TAREFAS PUBLICADAS</h1>
        </header>
    
    <div class="tasks">
        <table class="public-tasks">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Titulo da tarefa</th>
                    <th>Data e hora</th>
                    <th>Visualizar perfil</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RAIMUNDO</td>
                    <td>FAZER CHURROS</td>
                    <td>22-10-2022 19:00:20</td>
                    <td>
                        <div class="perfil-user">
                            <a href="#">PERFIL</a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>RAIMUNDO</td>
                    <td>FAZER CHURROS</td>
                    <td>22-10-2022 19:00:20</td>
                    <td>
                        <div class="perfil-user">
                            <a href="#">PERFIL</a>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>RAIMUNDO</td>
                    <td>FAZER CHURROS</td>
                    <td>22-10-2022 19:00:20</td>
                    <td>
                        <div class="perfil-user">
                            <a href="#">PERFIL</a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
</section>
{% endblock 'content' %}