{% extends 'global/base.html' %}
{% load static %}
{% block 'title' %}Registrar{% endblock 'title' %}
{% block 'content' %}
<section>
    <div class="container">
        <div class="form-container">
            <div class="img-content">
                <img src="{% static 'accounts/img/auth.svg' %}" alt="To do list">
            </div>
            <div class="form-content">
                <h2>REGISTRAR</h2>
                <form action="{% url 'accounts:register_create_view' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="inputs">
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                    </div>
                    
                    {% endfor %}
                    <div class="inputs">
                        <button type="submit">REGISTRAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock 'content' %}